.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.venv
env
venv
*.egg-info
dist
build
.coverage
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
.vscode
.idea
*.iml
test
tests
local_settings.py
media
